.tweetbox {
  border-bottom: 8px solid var(--twitter-background);
  position: sticky;
  top: 52px;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.actions button {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.actions .active {
  color: var(--twitter-color);
}
