.tweet-avatar img {
  border-radius: 50%;
  height: 40px;
}

.tweet {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.tweet-body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: gray;
  width: 90%;
}

.tweet-footer span {
  cursor: pointer;
}

.tweet-badge {
  font-size: 14px !important;
  color: var(--twitter-color);
  margin-right: 5px;
}

.tweet-header-time {
  font-weight: 600;
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}

.tweet-header-text h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.tweet-header-description {
  margin-bottom: 10px;
  font-size: 15px;
}

.tweet-body {
  flex: 1;
  padding: 10px;
}

.tweet-avatar {
  padding: 20px;
}
